@font-face {
    font-family: 'acherusgrotesque-regular';
    src: url('font/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('font/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'acherusgrotesque-regular', Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(60deg, #16213E, #61A4BC, #FE7E6D, #E94560);
    background-size: 500%;
    animation: gradientAnimation 5s ease infinite;
    text-shadow: 2px 2px 10px white;
    min-height: 500px;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% { 
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 

#content {
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    min-width: auto;
    flex-wrap: wrap;
    padding: 20px;
}

.photo:nth-child(2) {
    order: 1;
    margin: 15px;
}

.nom:nth-child(1) {
    order: 2;
    font-variant-caps: all-small-caps;
    font-size: 40px;
}

#contact:nth-child(3) {
    order: 3;
    list-style: none;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    height: 135px;
    padding: 15px;
    margin: auto;
}

#text:nth-child(4) {
    order: 4;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    height: 350px;
    padding: 15px;
    align-self: center;
    margin: auto;
}

.icone_adress {
    margin-right: 7px;
    margin-top: 4px;
}

.mailto {
    color: black;
}

#social:nth-child(5) {
    order: 5;
    display: flex;
    list-style: none;
    align-self: center;
    margin: auto;
}

.github {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.openclassroom {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.linkedin {
    margin: 10px;
    width: 100px;
    height: 100px;
}

#foot:nth-child(6) {
    order: 6;
    margin-top: auto;
}

.thx {
    color: black;
}

